
venv/
.venv/

# ==============================
# Python cache files
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Jupyter Notebook checkpoints
# ==============================
.ipynb_checkpoints/

# ==============================
# OS / Editor files
# ==============================
.DS_Store
.vscode/
.idea/

# ==============================
# Logs
# ==============================
logs/
*.log


Day 2 Feature Engineering and Feature Selection/src/

Day 3 Model Building and Advanced Training Pipeline/src/

Day 4 HyperParameter Tuning and Explainability and Error Analysis/src/