
venv/
.venv/

# ==============================
# Python cache files
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Jupyter Notebook checkpoints
# ==============================
.ipynb_checkpoints/

# ==============================
# OS / Editor files
# ==============================
.DS_Store
.vscode/
.idea/

# ==============================
# Logs
# ==============================
logs/
*.log
